.cbody9{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 550px;
    z-index: 0;
    background-color: #F0F0F0;
}
.cbody9-cont{
    width: 80%;
    max-width: 80%;
    height: 80%;
    z-index: 1;
    position: relative;
    left: 100px;
    top: 100px;
    display: flex;
    background-color: white;
    
}
#part1{
    width: 50%;
    height: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top:white 0.2em solid; 
    border-left:white 0.2em solid;
    border-bottom:white 0.2em solid; 
    border-right: 0;
    text-align: center;
}

.bs{
    position: relative;
    top: 100px;
    font-weight: bold;
    font-size: xx-large;
    color: black;
    right: 80px;

}
#bs2{
    position: relative;
    top: 100px;
    right: 130px;

}
.clo{
    color: #fa9e08;
}
#pe{
    position: relative;
    top: 100px;
    right: 70px;

}
#pe2{
    position: relative;
    top: 100px;
    right: 105px;
}
#pe3{
    position: relative;
    top: 100px;
    right:180px;
}
#bte{
    width: 350px;
    height: 40px;
    background-color: #fa9e08;
    position: relative;
    top: 100px;
    right:50px;
    border: 0;
    border-radius: 0.5em;
}

#part2{
    width: 50%;
    height: 100%;
    border: white 1em solid;
    border-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top:white 0.2em solid; 
    border-right:white 0.2em solid;
    border-bottom:white 0.2em solid; 
    border-left: 0;
}

    
#jambon{
    width: 100%;
    height: 100%;

}